.hotel-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    height: 2.5rem;
    width: fit-content;
  }

  img {
      display: inline-block;
      background: none;
      height: 100%;
      vertical-align: middle;
    }

  &__lhs-text {
    font-size: 17px;

    &.-bold {
      font-size: 17px;
      font-weight: 600;
    }

    &.-italic {
      font-style: italic;
    }
  }

  .base-header {
    margin-top: 24px;
  }
}
